
.pangolin .trial-cta {
  background: #4A90E2;
  padding-right: 20px !important;
  border-radius: 5px;
  margin-left: 15px;
}
.pangolin .header-text-pangolin {
  margin-top: 50px;
}
.pangolin .headerimage2 {
  margin-top: -300px;
  margin-left: -160px;
}

.pangolin .headerimage2 img {
  width: 160%;
}

.header-text-pangolin {
  text-align: left;
}

.pangolin .right-content {
  margin-left: 20px;
}

.pangolin .left-content {
  margin-right: 20px;
}

.header-text-pangolin .btn-section .btn-custom {
  display: inline-block;
  line-height: 19px;
  margin: 20px 15px 0;
}
figure {
  margin: 1em 10px !important;
}
.headerimage2 {
  margin-top: -160px;
}

.pangolin .btn-freetrial {
  color: #fff !important;
  background-color: #8bcb2f !important;
}

.pangolin .btn-download {
  color: #fff !important;
  background-color: #4A90E2 !important;
}

.pangolin ul.list-icon li .fa {
  background-color: #4990e2;
}

.pangolin h2.head-h2 {
  color: #565555;
  font-size: 24px;
}
.pangolin ul.list-icon li {
  font-size: 15px;
}

.six-columns .image-div-sp{
  width: 18.5%;
}
.pangolin .image-div-sp-last {
  background: #FFF;
  color: #2FC76B;
  font-size: 30px;
}
.pangolin .tbl-prc-footer a.btn-purchase {
  background: #4A90E2;
  border-color: #4A90E2;
}

.pangolin .tbl-prc-heading h4 {
  color: #3287EE;
}
.pangolin .enter-price{
  margin-left: 10% !important;
}
.agiletestware_body .tbl-prc-list .fa.fa-check {
  color: #1A8012;
}

.pangolin .panel-default > .panel-body {
  color: #565555;
  opacity: 0.6;
  min-height: 0px;
  padding-top: 0;
}

.pangolin .panel-default > .panel-heading {
  color: #565555;
}
.pangolin .panel {
  margin-bottom: 0;
}

.pangolin h3.head-h3 {
  color: #490A8C;
  font-size: 24px;
  font-weight: 400;
}

.pangolin .release-maintenance {
  margin-bottom: 0px;
}
.pangolin .download-normal {
  font-weight: 500;
  line-height: 1.6;
}
.pangolin .single-button a{
  background-color: #417505 !important;
}
.pangolin #download .linux-logo {
  width: 35px;
  margin-top: -5px;
  margin-left: 10px;
}
.pangolin .button-center a{
  background-color: #4A90E2 !important;
}
.pangolin .button-center img{
  width: 80px;
}
.pangolin .button-center .teamcity-logo{
  width: 45px;
  margin-right: 15px;
  margin-left: 5px;
}
.pangolin .release {
  color: #E3841E !important;
  background: transparent !important;
  margin-left: 10px;
  font-size: 10px;
}

.pangolin .dwn-btn .btn-custom {
  background-color: #1A8012;
}

.footermenu img{
  height: 36px;
}

.pangolin #footer {
  background-color: #0884d9;
}

.pangolin .footermenu h4 {
  color: #FFF;
}
.pangolin #footer .seperate hr{
  border-top: 1px solid #FFF;
  opacity: 0.5;
}

.pangolin #footer .faq-privacy {
  opacity: 0.5;
}
.pangolin #footer .faq-privacy a {
  font-size: 12px;
}
.pangolin #footer .faq-privacy a:first-child{
  margin-right: 20px;
}
.pangolin .home-newsletter .single .btn {
  background: #1A8012 !important;
  border-bottom-color: #1A8012 !important;
}
.pangolin .home-newsletter .single label {
  color: #FFF !important;
}
.pangolin .reg_btn, .pangolin .reg_btn:hover {
  background-color: #118200;
}
.form-control.required:focus {
  box-shadow: none;
  background: none;
  border-color: #A2A2A2;
}
